.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vscode-dts/**
*.vsix
**/*.ts
**/*.map
.eslintrc.json
eslint.config.js
test/**
tsconfig.json
webpack.config.js
CONTRIBUTING.md
.DS_Store
**/.DS_Store
codememory-test-project/**
.codememory/**
package-lock.json
clean-install.sh
.github/**
.git/**
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/docs/**
node_modules/**/*.md
node_modules/**/LICENSE*
node_modules/**/CHANGELOG*
node_modules/**/.npmignore
node_modules/**/tsconfig.json
**/*.log